// stylelint-disable no-descending-specificity

.about {
  margin-bottom: -60px;
  @media (max-width: 768px) {
    margin-bottom: -90px;
  }
  @media (max-width: 576px) {
    margin-bottom: -130px;
  }

  .head {
    .title {
      h1 {
        @media (max-width: 570px) {
          font-size: 1.8em;
        }
      }
    }
  }

  .image {
    width: 100%;
    height: 600px;
    background-image: url('~/static/images/bike-2.png');
    background-size: cover;
    background-position: center;
    @media (max-width: 768px) {
      height: 400px;
    }
  }

  .about-card {
    border: 1px solid silver;
    position: relative;
    top: -100px;
    background-color: white;
    border-radius: 3px;
    @media (max-width: 576px) {
      top: -180px;
    }
    .text {
      width: 75%;
      @media (max-width: 576px) {
        width: 100%;
      }
    }
  }

  .project {
    position: relative;
    top: -100px;
    @media (max-width: 768px) {
      top: -130px;
    }
    @media (max-width: 576px) {
      top: -180px;
    }
    h1 {
      @media (max-width: 420px) {
        font-size: 1.8em;
      }
    }
    h2 {
      @media (max-width: 420px) {
        font-size: 1.6rem;
      }
    }
    .project-image {
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      img {
        width: 100%;
        @media (max-width: 576px) {
          height: 200px;
          object-fit: cover;
        }
      }
      &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
    .info {
      .top {
        .right {
          p {
            width: 75%;
            @media (max-width: 768px) {
              width: 100%;
            }
          }
          .stats {
            width: 75%;
            @media (max-width: 576px) {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .images {
    position: relative;
    top: -80px;
    @media (max-width: 768px) {
      top: -120px;
    }
    @media (max-width: 576px) {
      top: -160px;
    }
    .img-2,
    .img-3 {
      height: 47%;
    }
    .img-4 {
      height: 55%;
    }
    .img-5 {
      height: 40%;
    }
    img {
      width: 100%;
      border-radius: 5px;
      object-fit: cover;
    }
    button {
      min-width: 180px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      background-color: #2e3a59;
      border: none;
      outline: none;
      color: white;
      &:hover {
        opacity: 0.9;
      }
    }
  }
}
