// stylelint-disable no-descending-specificity

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  .navbar-brand {
    border: none !important;
    img {
      width: 150px;
    }
  }
  .links {
    .nav-link {
      color: white !important;
      position: relative;
      &::after,
      &::before {
        content: '';
        width: 0;
        height: 3px;
        position: absolute;
        background-color: white;
        bottom: -3px;
        transition: 0.2s;
      }
      &::after {
        left: 50%;
      }
      &::before {
        right: 50%;
      }
      &:hover {
        &::after,
        &::before {
          width: 45%;
        }
      }
      &.nuxt-link-active {
        font-weight: 500;
        border-bottom: 3px solid white;
      }
    }
  }
  .languages {
    .dropdown {
      &-menu {
        min-width: 0 !important;
        width: 100%;
        padding: 0;
        overflow: hidden;
        a {
          color: inherit !important;
          padding: 0.25rem 0;
          text-align: center;
          &:active {
            background-color: #e9ecef;
          }
        }
      }
      &-toggle {
        color: white;
        box-shadow: none !important;
      }
    }
  }
  .sidebar {
    .b-sidebar {
      padding: 1.5rem;
      header {
        display: none;
      }
      .logo {
        border: none !important;
        &::after,
        &::before {
          display: none;
        }
      }
      a {
        color: #464646;
        text-decoration: none;
        position: relative;
        &::after,
        &::before {
          content: '';
          width: 0;
          height: 2px;
          position: absolute;
          background-color: #464646;
          bottom: -2px;
          transition: 0.2s;
        }
        &::after {
          left: 50%;
        }
        &::before {
          right: 50%;
        }
        &:hover {
          &::after,
          &::before {
            width: 50%;
          }
        }
        &.nuxt-link-active {
          font-weight: 500;
          border-bottom: 2px solid #464646;
        }
      }
    }
  }
  .menu-button {
    i {
      font-size: 24px;
      cursor: pointer;
    }
  }

  &.alternative {
    position: static;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    .links {
      .nav-link {
        color: black !important;
        &::after,
        &::before {
          background-color: black;
        }
        &.nuxt-link-active {
          border-bottom: 3px solid black;
        }
      }
      .languages {
        .dropdown {
          &-toggle {
            color: black;
          }
        }
      }
    }
    .languages {
      .dropdown-toggle {
        color: black !important;
      }
    }
  }
}
