#cloud-title-text {
  font-weight: 800;
  font-size: 48;
}

#cloud-image {
  text-align: center;
  margin: 2em;
}

#robot-image {
  text-align: center;
  margin: 2em;
}

.about-text {
  font-size: 18px;
  line-height: 32px;
}

.about-title {
  font-size: 36px;
  line-height: 64px;
}
